<nav class="navbar">
    <ul class="nav">
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/employeeList">Employee List</a></li>
        <li><a href="/newEmployee">Add Employee</a></li>
    </ul>
</nav>
