<h1>People to Invite</h1>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alias</th>
        </tr>
    </thead>
    <tbody>
@foreach (var attendee in ViewBag.attendees)
{
    <tr>
        <td>@attendee.FirstName</td>
        <td>@attendee.LastName</td>
        <td>@attendee.Alias</td>
    </tr>
}
    </tbody>
</table>