@model scheduleNEO.Models.RegisterEmployeeModel

@{
    ViewData["Title"] = "Add A New Employee";
}

<div asp-validation-summary="All" class="error"></div>

@{
    if(TempData["Error"] != null)
    {
        <p class="error">@TempData["Error"]</p>
    }

    if(TempData["Success"] != null)
    {
        <p class="success">@TempData["Success"]</p>
    }
}

<form action="addEmployee" method="POST">
    <fieldset>
        <legend>New Employee</legend>
        <label class="formBlock" asp-for="FirstName"></label>
        <input class="formBlock" asp-for="FirstName"/>
        <label class="formBlock" asp-for="LastName"></label>
        <input class="formBlock" asp-for="LastName"/>
        <label class="formBlock" asp-for="Alias"></label>
        <input class="formBlock" asp-for="Alias"/>
        <label for="Organization">What organization does this person belong to?</label><br>
        <label><input type="radio" name="Organization" asp-for="Organization" value="Attorney">FTE Attorney</label>
        <label><input type="radio" name="Organization" asp-for="Organization" value="Immigration Specialist">FTE Immigration Specialist</label>
        <label><input type="radio" name="Organization" asp-for="Organization" value="PM">FTE PM</label>
        <label><input type="radio" name="Organization" asp-for="Organization" value="CELA Vendor">CELA Vendor</label>
        <label><input type="radio" name="Organization" asp-for="Organization" value="Robert Half">Robert Half</label>
        <label><input type="radio" name="Organization" asp-for="Organization" value="Other">Volunteer</label><br>
        <input type="submit" value="Add Employee">
    </fieldset>
</form>