@model scheduleNEO.Models.RegisterEmployeeModel

<div asp-validation-summary="All" class="error"></div>

@{
    if(TempData["Error"] != null)
    {
        <p class="error">@TempData["Error"]</p>
    }

    if(TempData["Success"] != null)
    {
        <p class="success">@TempData["Success"]</p>
    }
}

<form action="addEmployee" method="POST">
    <fieldset>
        <legend>New Employee</legend>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/>
        <label asp-for="Alias"></label>
        <input asp-for="Alias"/>
        <label for="Organization">What organization does this person belong to?</label><br>
        <label>CELA FTE</label></label><input type="radio" name="Organization" value="CELA FTE">
        <label>CELA Vendor</label><input type="radio" name="Organization" value="CELA Vendor">
        <label>Robert Half</label><input type="radio" name="Organization" value="Robert Half"><br>
        <input type="submit" value="Add Employee">
    </fieldset>
</form>