<form action="Login" method="POST" class="SideBySide">
    <fieldset>
        <legend>Login</legend>
        <label class="formBlock">Username:</label>
        <input class="formBlock" type="text" name="Username">
        <label class="formBlock">Password:</label>
        <input class="formBlock" type="password" name="Password">
        <input class="formBlock" type="submit" value="Login">
    </fieldset>
</form>