@model scheduleNEO.Models.RegisterUserModel
<div asp-validation-summary="All" class="error"></div>
<form asp-controller="User" asp-action="Register" method="POST" class="SideBySide">
    <fieldset>
        <legend>Register</legend>
        <label class="formBlock" asp-for="FirstName"></label>
        <input class="formBlock" asp-for="FirstName"/>
        <label class="formBlock" asp-for="LastName"></label>
        <input class="formBlock" asp-for="LastName"/>
        <label class="formBlock" asp-for="Username"></label>
        <input class="formBlock" asp-for="Username"/>
        <label class="formBlock" asp-for="Password"></label>
        <input class="formBlock" asp-for="Password"/>
        <label class="formBlock" asp-for="PasswordConfirmation"></label>
        <input class="formBlock" asp-for="PasswordConfirmation"/>
        <label class="formBlock">Admin Code</label>
        <input class="formBlock" type="text" name="AdminCode">
        <input type="submit" value="Register">
    </fieldset>
</form>