@model scheduleNEO.Models.RegisterNeoModel

@{
    ViewData["Title"] = "Schedule A New NEO";
}

<div asp-validation-summary="All" class="error"></div>
<form asp-controller="Neo" asp-action="Calculate" method="POST">
    <fieldset>
        <legend>Create a new NEO</legend>
        <label class="formBlock" asp-for="Attendees"></label>
        <input class="formBlock" asp-for="Attendees"/>
        <label class="formBlock" asp-for="Date"></label>
        <input class="formBlock" asp-for="Date"/>
        <input class="formBlock" type="submit" value="Create/Schedule NEO">
    </fieldset>
</form>