@model scheduleNEO.Models.RegisterNeoModel
<div asp-validation-summary="All" class="error"></div>
<form asp-controller="Neo" asp-action="Calculate" method="POST">
    <fieldset>
        <legend>Create a new NEO</legend>
        <label asp-for="Attendees"></label>
        <input asp-for="Attendees"/>
        <label asp-for="Date"></label>
        <input asp-for="Date"/>
        <input type="submit" value="Create/Schedule NEO">
    </fieldset>
</form>