@model scheduleNEO.Models.RegisterNeoModel

@{
    ViewData["Title"] = "Schedule A New NEO";
}

<div asp-validation-summary="All" class="error"></div>
<form asp-controller="Neo" asp-action="Calculate" method="POST">
    <fieldset>
        <legend>Create a new NEO</legend>
        <label class="formBlock" asp-for="Attendees"></label>
        <input class="formBlock" asp-for="Attendees"/>
        <label class="formBlock" asp-for="Date"></label>
        <input class="formBlock" asp-for="Date"/>
        <input class="formBlock" type="submit" value="Create/Schedule NEO">
    </fieldset>
</form>


<div id="Volunteers">
    <label for="Add">Pre-Invite People:</label>
    <select name="AllVolunteers" id="AllVolunteers">
        @foreach (var Volunteer in ViewBag.Volunteers)
        {
            <option value="" selected disabled hidden>Pre-Invite People</option>
            <option value="@Volunteer.Id">@Volunteer.FirstName @Volunteer.LastName</option>
        }
    </select>
    <input type="button" name="invite" id="invite" value="Pre-Invite" />

    <input type="button" name="uninvite" id="uninvite" value="Un-Invite" />
</div>

<select name="PreInvited" id="PreInvited" >

</select>

