form {
    display: inline-block;
    vertical-align: top;
}
.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

input[type=radio] {
    display: inline;
    margin: 0px 5px 0px 7px;
}

th {
    margin: 5px;
    padding: 10px;
    width: auto;
    text-align: left;
    background-color: #008272;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

tr:hover {
    background-color: #f5f5f5;
}

.nav>li {
    background-color:  #008272;
    border: 2px solid #ddd;
    display: inline-block;
    text-align: center;
    width: 25%;
    margin: auto;
}

.nav>li>a {
    color: white;
    font-weight: bold;
}

ul, #NeoInfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

table {
    width: 100%;
}

.inline {
    display: inline-block;
    width: 12%;
}

.formBlock {
    display: block;
    margin-bottom: 1em;
}

.neoControls {
    display: inline-block;
    margin: auto;
    width: 25%;
}

.controls {
    text-align: center;
}

input[type="submit"]:disabled {
    background: #696969;
  }
